main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
}
p {
    padding: 0; 
}
aside {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    border: 10px;
    color:white;
    margin: auto;
    width: 300px;
}
aside img { width: 200px;
    height: auto; 
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
p {
    padding: 10px;
}
footer {
    margin-top:15px;
    border-top:1px solid #000;
    text-align: center;
}